@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not found</title>
    <link href="/Content/bootstrap.flatly.css" rel="stylesheet" />
</head>
<body>
    <h1 class="text-center">
        Resource not found
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                The resource You have tried to access was not found.
            </p>
        </div>
    </div>
    <a href="/" title="Home">Back to home page</a>
</body>
</html>
