<<<<<<< HEAD
﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="/Content/bootstrap.flatly.css" rel="stylesheet" />
</head>
<body>
    <h1 class="text-center">
        Something went wrong
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                We apologize for the inconvenience.
            </p>
        </div>
    </div>
    <a href="/" title="Home">Back to home page</a>
</body>
</html>
=======
﻿@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-info">You may contact administrator <a href="mailto:admin@bdv.net">Email</a></h2>
>>>>>>> 27b6d50536be7556095ecc812ef461f7184ffcb8
