@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="/Content/bootstrap.flatly.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="text-center">
            Something went wrong
        </h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    We apologize for the inconvenience.
                </p>
            </div>
        </div>
        <a href="/" title="Home">Back to home page</a>
    </div>
</body>
</html>
