@using CallCenterCrm.Web.Areas.Operator.Models.CallResult

@model IEnumerable<IndexCallResultModel>

@{
    ViewBag.Title = "Index";
}

<h2>Call results</h2>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-default" })
</p>

@(Html.Kendo()
      .Grid(Model)
      .Name("grid-callresults")
      .Columns(columns =>
      {
          columns.Bound(c => c.CampaignDescription);
          columns.Bound(c => c.CallDate);
          columns.Bound(c => c.StatusDescription);
          columns.Bound(c => c.Duration);
          columns.Bound(c => c.Notes);
          columns.Bound(c => c.Customer);
      })
      .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5))
      .Sortable()
      .Filterable()
      .DataSource(data => data.Ajax()
                              .Read("Read", "CallResults")
                              .PageSize(10)
                              .Model(model =>
                              {
                                  model.Id(p => p.CallResultId);
                                  model.Field(p => p.CallResultId).Editable(false);
                              }))
)
